.profile{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 30%;
    background-color: #f4f4f8;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-top: 10px;
}
.avatarurl{
    width:60%;
    height: 60%;
    border-radius: 50%;
    margin-right: 10px;
    padding-left: 10px;
}

a.githubpagelink{
    text-decoration: none;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
}
a.githubpagelink:hover{
    transform: translateY(-10px);
}

.parents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }

  @media (max-width: 420px) {
    .profile {
        width: 90%;
    }
    .chart{
        max-width:350px;
        overflow-x: auto;
    }
 
  }
  .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f8;
    border-radius: 15px;
    padding: 5px 50px 5px 50px;
    max-width: 95%;
    overflow-x: auto;
  }

  /* .profileinfo {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
  } */
.status{
    margin: 10px;
}
.top-langs{
    margin: 10px;
}

/* .first {
    width: 30%;
}
.badge{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.badges {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 10列を作成 */
    gap: 10px; /* 各バッジの間にスペースを追加 */
    justify-items: center; /* 各バッジを中央揃え */
    background-color: #f4f4f8;
    margin :10px;
    border-radius: 15px;
    padding: 10px;
  }
  
  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .first, .second, .third {
    width: 100px; /* メダルの幅を設定（必要に応じて調整） */
    height: 100px; /* メダルの高さを設定（必要に応じて調整） */
  }  
  .firstbadge, .secondbadge, .thirdbadge {
    margin: 0 5px; /* メダルの間にスペースを追加 */
  }
  

  