@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
header {
  font-family: "Noto Serif JP", sans-serif;
  background-color: #f5c3c2;
  text-align: center;
  height: 100%;
  /* width: 100%; */
  padding: 30px;
  font-size: 50px;
  margin-top: 0px;
}

.navigate {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.navigate .useradd,
.navigate a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

@media (max-width: 420px) {
    header {
      font-size: 30px; /* 小さいデバイスでのフォントサイズを小さくする */
      padding: 15px; /* パディングを調整 */
      width: 95%; /* 幅を100%にする */
    }
  
    .navigate {
      justify-content: center; /* ナビゲーションを中央に配置 */
      font-size: 15px; /* ナビゲーションのフォントサイズを調整 */
    }
  
    .navigate .useradd,
    .navigate a {
      margin: 5px; /* マージンを調整 */
    }
  }