.is_second .ranking-font {
  font-size: 25px;
}

.is_second .contributionNum {
  font-family: "Georgia";
  margin-left: auto;
  font-size: 40px;
  padding-right: 50px;
}
.is_second {
  background: linear-gradient(
    45deg,
    #757575 0%,
    #9e9e9e 45%,
    #e8e8e8 70%,
    #9e9e9e 85%,
    #757575 90% 100%
  );
}
.is_second img.gitimg {
  width: 150px;
  height: 150px;
}

.is_second .userName {
  font-family: "Verdana";
  font-size: 30px;
}
@media (max-width: 420px) {
    .is_second .ranking-font {
      font-size: 17px; /* フォントサイズを調整 */
    }
  
    .is_second .contributionNum {
      font-size: 25px; 
      padding-right: 10px; 
    }
  
    .is_second {
        height: 90px;
        width: 300px;
      /* 必要に応じて背景や他のスタイルを調整 */
    }
  
    .is_second img.gitimg {
      width: 55px; /* 幅を調整 */
      height: 55px; /* 高さを調整 */
    }
  
    .is_second .userName {
      font-size: 18px; /* フォントサイズを調整 */
    }
  }