.is_second .ranking-font {
  font-size: 25px;
}

.is_second .contributionNum {
  font-family: "Georgia";
  margin-left: auto;
  font-size: 40px;
  padding-right: 50px;
}
.is_second {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    background-size: 800% 400%;
    animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
.is_second img.gitimg {
  width: 150px;
  height: 150px;
}

.is_second .username {
  font-family: "Verdana";
  font-size: 35px;
  font-weight: 500;
}
@media (max-width: 420px) {
    .is_second .ranking-font {
      font-size: 17px; /* フォントサイズを調整 */
    }
  
    .is_second .contributionNum {
      font-size: 25px; 
      padding-right: 10px; 
    }
  
    .is_second {
        height: 90px;
        width: 300px;
      /* 必要に応じて背景や他のスタイルを調整 */
    }
  
    .is_second img.gitimg {
      width: 55px; /* 幅を調整 */
      height: 55px; /* 高さを調整 */
    }
  
    .is_second .username {
      font-size: 18px; /* フォントサイズを調整 */
    }
  }