
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body{
    margin: 0px;
    animation: fadein 4s;
}
header{

    font-family: 'Noto Serif JP', sans-serif;
            background-color: #F5C3C2;
    /* text-align: center; */
    height: 100%;
    padding: 30px;
    font-size: 50px;
    /* margin-top:0px; */
}

.gitimg{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.rankValue {
    background-color: #f4f4f8; /* 背景色 */
    border-radius: 15px; /* 角の丸み */
    padding: 10px; /* 内側の余白 */
    margin: 10px 10px 10px 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影の効果 */
    display: flex; 
    align-items: center; 
    width: 55%;
}
.parent {
    display: flex;
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ */
    /* height: 100vh; 親要素の高さをビューポートの高さにする */
}
.rankValue p {
    margin: 0 10px; 
}

.rankValue img.gitimg {
    width: 100px; /* 画像の幅 */
    height: 100px; /* 画像の高さ */
    border-radius: 50%; /* 画像を円形に */
    margin-right: 10px; /* 右の余白 */
}

.ranking-font{
    font-family: 'Verdana' ;
}


.userName{
    padding-left: 20px;
    font-family: 'Verdana';
    font-size: 20px;
    text-decoration: none; /* 下線を消す */
    color: black;
}
.userName:hover{
    color: blue;
}
.bord{
    /* 格子 */
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.changetab{
    /* display: flex; */
    justify-content: center; 
    /* align-items: center;  */
    width: 1500px;
}
  
  .progressBarContainer {
    text-align: center;
    width: 50%;
  }

  .is_other .contributionNum{
    /* font-family: 'Georgia'; */
    margin-left: auto;
    padding-right: 50px;
    font-size: 25px;
  }

  .whenWeek{
    /* font-family: "Hiragino Sans","ヒラギノ角ゴシック"; */
    /* font-size: 150px; */
    font-family: 'Verdana';
    /* background-color: red; */
  }

  .navigate {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  
  .navigate .useradd,
  .navigate a {
    margin-left: 10px; /* リンク間のスペースを調整 */
  }
  